div#footer  
    div  
        span Copyright  
        |  
        |
        span(class="fa fa-copyright") 2023
        |  
        |
        a(href=url_for('.'), rel='nofollow')= config.title  
        |  
        a(rel='nofollow', target='_blank', href='https://beian.miit.gov.cn/') |  京ICP备123456789号
        |  
    div(class="footer-remark")  
        div(class="github-badge")  
            a(href="https://hexo.io", rel='nofollow')  
                span(class="badge-subject") Powered by  
                span(class="badge-value color-clear-chill") Hexo  
        div(class="github-badge")  
            a(href="https://github.com/tufu9441/maupassant-hexo", rel='nofollow')  
                span(class="badge-subject") Theme  
                span(class="badge-value color-ufo-green") Maupassant  
        div(class="github-badge")  
            span(class="badge-subject") 总访问量  
            span(class="badge-value color-watermelon" id="busuanzi_value_site_pv") 
        div(class="github-badge")  
            span(class="badge-subject") 总访问人数  
            span(class="badge-value color-coral" id="busuanzi_value_site_uv") 
        div(class="github-badge")